body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
h1{
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    margin-top: 50px auto 0 auto;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-color: #EAF6F6;
  border-width: 5px;
  margin: 50px auto;
}

.top-container{
  background-color: #e4fbff;
  position: relative;
  padding-top: 200px;

}

.middel-container{
  margin: 100px 0;

}
.profile p{
  margin-bottom: 50px;

}

.bottom-container{
 background-color: #66BFBF;
 padding: 30px;
}
.bottom-container p{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75em;
}


.skill-row{
  margin: 50px auto 50px auto;
  text-align: left;
  width:50%;
  line-height: 2;

}
.skills{
  padding-bottom: 20px;
}

a{
 color: #11999E;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 20px;
 text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.contact-me{
  padding: 30px;
  line-height: 2;
}
.contact-msg{
  margin: 40px auto 60px;
  width: 40%;
}

.btn{
  background-color: #66BFBF;
  color: #EAF6F6;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 20px;
  margin: 50px;
}
.btn:hover{
  background-color: #30e3cb;
  color: #2bc4ad;

}
.top-cloud{
  position: absolute;
  right:600px;
  top: 40px;
}

.bottom-cloud
{
  position: absolute;
  left: 250px;
  bottom: 300px;

  }
  .computer-img{
    width: 25%;
    float: left;
    margin-right: 30px;
  }
.chillies-img{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.judith-img{
  padding-top: 10%;
  width: 25%;
  height: 25%;
}
